*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(180deg, rgb(255, 245, 245) 0%, rgba(55,55,55,1) 100%); */
    background: url('../img/fondo.jpg') no-repeat ;
    background-size: cover;
    /* opacity:; */
}


.convertidor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:25vw;
    height: 60%;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    background: white;
}

.card h1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card-options{
    display: flex;
    flex-direction: column;
}
.card-options p{
    text-align: center;
}
.card-options div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-conversiones {
    display: flex;
    flex-direction: column;
}

.card-conversiones div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    padding: 10px;
}

.card-conversiones p{
    color: red;
    font-weight: bold;
}

.card-conversiones *{
    text-align: center;
    height: 25px;
    border-radius: 5px;
    color: black;
}

.card-conversiones button {
    height: 35px;
    border-radius: 10px;
    background-color: #FFC300;
    border: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    margin-top: 15px;
    color: white;
}

.card-conversiones button:hover {
    box-shadow: 0 2px 2px rgba(0,0,0,0.8);
}

.backbutton {
    color: black;
    font-size: 30px;
    margin-left: 80px;
    width: 90%;
}
